<div class="form-group">
    <div class="form-label">{{ label }}</div>
    <input  class="form-control" 
            [type]="type"
            [placeholder]="placeholder" 
            [formControl]="control"
            [readonly]="isReadonly"
            required
    />
    <small  class="text-danger" *ngIf="control.invalid && control.touched">
        <div *ngFor="let error of errorKeys" >
            <p *ngIf="control.errors?.[error]">
                {{ errorMessages[error] }}
            </p>
        </div>
    </small>
</div>