.itemCard{
    border-radius: 20px;
    box-shadow: inset 0px 1px 10px rgba(0, 0, 0, 0.2);
 }

 .price-title{
    font-size: 20px;
    font-weight: bold;
 }

 .price{
    color: green;
    font-size: 20px;
    font-weight: bold;
 }
 