@import url('https://fonts.googleapis.com/css2?family=Rowdies&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Rowdies&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    padding: 0;
    margin: 0;
}

#profile-container{
    height: 90vh; 
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}


#profile-container #user-profile{
    background-color: rgba(225,225,225, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 450px;
    height: 470px;
    margin: 10px 0 !important;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
}
#profile-container h1{
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: 900;
    margin-bottom: 20px;
    font-size: 40px;
    color: #ff735c;
    margin-top: 0px;
    padding: 0;
}
#profile-container #user-profile form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#profile-container #user-profile form div{
    width: 350px; 
    height: 75px;
    font-size: 16px;
}
#profile-container #user-profile form div input{
    background-color: transparent;
    outline: none;
    border: 2px solid rgba(255, 115, 92, 0.6);
    border-radius: 30px;
}
#profile-container #user-profile form #btnTag {
    display: flex;
    flex-direction:column;
    border-bottom: 1px solid rgba(255, 115, 92, 0.6);
}
#profile-container #user-profile form #btnTag a{
    text-align: end;
    text-decoration: none;
    font-size: 16px;
}
#profile-container #user-profile form #btnTag{
    width: 200px;
    align-self: center;
    border-radius: 30px;
    font-size: 18px;
    background-color:#ff735c;
    color: #e5e2e2;
    border: none;
    outline: none;
    margin-top: 10px;
    
}
#profile-container #user-profile form #editBtnTag{
  align-self: center;
  border-radius: 30px;
  font-size: 18px;
  border: none;
  outline: none;
  margin-top: 10px;
}

#profile-container #user-profile form a{
    text-decoration: underline;
    align-self: flex-start;
    padding-left: 10px;
    color: #ff735c;
}
