<app-cart-item *ngFor="let item of cartItems" [item]="item" (increase)="increaseQuantity($event)" (decrease)="decreaseQuantity($event)"></app-cart-item>
<div class="order-summary bg-white p-4 rounded-lg shadow-md mt-6">
  <div class="text-lg font-semibold text-gray-800">
    Order Summary
  </div>
  <div class="total-price text-gray-600 mt-2">
    Total Amount: <span class="font-semibold">LKR {{ order.totalAmount }}</span>
  </div>
  <div class="total-price text-gray-600">
    Amount: <span class="font-semibold">LKR {{ order.amount }}</span>
  </div>
  <button
    mat-raised-button
    color="primary" (click)="placeOrder()"
    class="mt-4 bg-blue-500 text-white py-2 px-4 rounded-lg hover:bg-blue-600 transition"
  >
    Place Order
  </button>
</div>

<ng-template #emptyCart>
<div class="empty-cart flex flex-col items-center justify-center h-64">
<mat-icon class="icon text-gray-400 text-6xl mb-4">
  remove_shopping_cart
</mat-icon>
<span class="text-lg text-gray-500">Your cart is empty</span>
</div>
</ng-template>