<div class="row m-0 p-0 container-fluid" id="signupPage">
  <div class="col-xl-12 col-lg-12 col-12 p-0 m-0 " id="form">
    <h1>Signup here</h1>
    <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
    <app-input-field
      label="username"
      type="text"
      placeholder="username"
      [control]="userNameControl"
      [errorMessages]="{
        required: 'User name is required.',
        minlength: 'User name must be at least 4 characters long.',
        maxlength: 'User name must not be more than 12 characters.'
      }"
    >
    </app-input-field>

    <app-input-field
      label="user email"
      type="email"
      placeholder="email address"
      [control]="userEmailControl"
      [errorMessages]="{
        required: 'User email is required.',
        email: 'Invalid email format.',
      }"
    >
    </app-input-field>

    <app-input-field
      label="phone number"
      type="text"
      placeholder="phone number"
      [control]="phoneNoControl"
      [errorMessages]="{
        required: 'Phone number is required.',
        maxlength: 'Phone number must be in 10 characters.'
      }"
    >
    </app-input-field>

    <app-input-field
      label="password"
      type="password"
      placeholder="password"
      [control]="passwordControl"
      [errorMessages]="{
        required: 'password is required.',
        minlength: 'password must be at least 4 characters long.',
        maxlength: 'password must not be more than 12 characters.'
      }"
    >
    </app-input-field>

    <app-input-field
      label="confirmation Password"
      type="password"
      placeholder="re-type Password"
      [control]="confirmPasswordControl"
      [errorMessages]="{
        required: 'confirmation Password is required.',
        mismatch: 'Passwords do not match.'
      }"
    >
    </app-input-field>

    <div class="form-group mt-1 p-0 mb-0" id="btnTag">
      <button class="btn btn-primary m-0" type="submit">SignUp</button>
    </div>

    </form>
    <span routerLink="/signin" style="color:#200E3A; font-size:18px; font-weight:500; padding-bottom:3px; margin: 0">Already have an account? <a style="color:#ff735c; font-size:16px; font-weight:400; cursor: pointer; text-decoration: underline;">click here</a></span>
  </div>
</div>
