<div class="dashboard-container">
    <nav class="sidebar">
      <ul>
        <li><a routerLink="profile" routerLinkActive="active">Profile</a></li>
        <li><a routerLink="orders-history" routerLinkActive="active">Order History</a></li>
        <li><a routerLink="payments" routerLinkActive="active">Payment Details</a></li>
        <li><a routerLink="settings" routerLinkActive="active">Settings</a></li>
        <li><a routrLink="logout" routerLinkActive="active" (click)="logout()">Logout</a></li>
      </ul>
    </nav>
  
    <div class="content">
      <router-outlet></router-outlet>
    </div>
</div>
  