<div class="card add-item-card">
    <form class="p-4">

        <div class="d-flex justify-content-center">
            <h1 class="mb-4">Add Items</h1>
        </div>
        
        <div class="form-group mb-3">
          <label>Item Name</label>
          <input type="text" class="form-control" placeholder="Enter Item name">
        </div>
        <div class="form-group mb-4">
          <label>Item Description</label>
          <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter item description">
        </div>

        <div>
          <label>Item Price</label>
          <select class="form-control mb-4">
            <option>Select category</option>
            <option>Male</option>
            <option>Female</option>
          </select>
        </div>
        
          <div class="form-group mb-4">
            <label>Item Price</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter item price">
          </div>
       
          <div class="d-flex justify-content-between">
            <button type="text" class="btn btn-success">Add</button>
            <button type="text" class="btn btn-danger" >Cancle</button>
          </div>
      </form>
</div>

