<div class="d-flex">
    <div class="sidebar">

        <nav class="sidebar-nav mt-2">
            <ul class="nav-list">
                <li class="nav-item">
                    <a class="nav-link active">
                        <i class="nav-icon bi bi-speedometer2"></i>
                        <span class="nav-text">Dashboard</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link" routerLink="/admin-view-item">
                        <i class="nav-icon bi bi-people"></i>
                        <span class="nav-text">Items</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link">
                        <i class="nav-icon bi bi-people"></i>
                        <span class="nav-text">Users</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link">
                        <i class="nav-icon bi bi-gear"></i>
                        <span class="nav-text">Settings</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a  class="nav-link">
                        <i class="nav-icon bi bi-file-earmark-text"></i>
                        <span class="nav-text">Reports</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="sidebar-footer">
            <a  class="nav-link logout">
                <i class="nav-icon bi bi-box-arrow-left"></i>
                <span class="nav-text">Logout</span>
            </a>
        </div>
    </div>
    <main class="content">
        <!-- Main content area -->
    </main>
</div>